@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lato');


html {
  font-size: calc(0.8em + 0.5vw);
}

body * {
  box-sizing: border-box;
  margin: 0;
  display: block;
}

/* Setter bakgrunnsfargen på siden */
body {
  background-color: #333;
}

/* Gi elementer fontstørrelse i forhold tilrotelementet med rem */
h1 {
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.8rem;}
h4 {
  font-size: 1.2rem;
  font-family: 'Fjalla One', sans-serif;
}
p {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

/* Containere for grid og flex bokser */

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:   "header header header"
                         "navbar navbar navbar"
                         "maincontent1 maincontent1 aside"
                         "maincontent2 maincontent2 none"
                         "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 50px 450px auto 60px;
}

header {
  text-align: center;
  background-image: url("../bilder/testbilde.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: header;
}

#navbar {
  grid-area: navbar;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

#komigangoverskrift {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../bilder/googleliten.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#analyseoverskrfit {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../bilder/analyseliten.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#kodeoverskrift {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../bilder/kodeliten.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#innholdoverskrift {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../bilder/contentliten.jpg");
  background-position:  center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sassoverskrift {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../bilder/cssliten.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.maincontent-container2 {
  grid-area: maincontent2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

#analysecontainer {
  grid-area: maincontent2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

aside {
  grid-area: aside;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

footer {
  align-items:center;
  justify-content: center;
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
}

.artikkel1 {
  flex: 1;
  order: 1;
  background-color: white;
}

.artikkel2 {
  flex: 1;
  order: 2;
  background-color: white;
}


/* Navigasjonsbaren */
#navbar a {
  display: inline;
  text-decoration: none;
  color: black;
  margin: auto;
  border: 3px solid white;
}

#navbar a:hover {
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
}

#navbar a:active {
  position: relative;
  bottom: 4px;
}


/* Artikkelsidene */
div header h2 {
  margin: 0 auto;
  position: relative;
  top: 14rem;
  border: 1px solid black;
  height: 3rem;
  width: 23rem;
  text-align: center;
  color: white;
  background-color: #333;
  z-index: 0;
}

#analyse p {
  margin: 0;
  margin-top: 15px;
}

code {
  background-color: black;
  color: orange;
  padding: 0.3rem;
  padding-left: 0.5rem;
  width: 95%;
}

span {
  display: inline-block;
}

code#analysekode {
  font-size: 0.55rem;
}

main article p span::first-letter {
  font-weight: bolder;
}

p#kodeparagraf {
  margin: 0;
  margin-top: 6%;
  margin-bottom: 2%;
  padding: 0;
}

/* Paragrafer inni artiklene */
article p {
  font-size: 0.75rem;
  margin: 6% auto;
  text-align: justify;
  padding: 0.5rem;
  padding-top: 0.1rem;
}

/* Sidebaren */
iframe {
  width: 100%;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

aside section p {
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
}

aside section a {
  margin-top: 0.1rem;
  text-decoration-line: none;
  color: blue;
}

aside section ul li a:hover {
  text-decoration-line: underline;
}

aside section ul li a:visited {
  color: purple;
}

.googlesok a {
  text-decoration-line: none;
  border: 1px solid black;
  width: 50%;
  height: 1.5rem;
  padding: 0.3rem;
  margin: 0 auto;
  background-color: blue;
  color: white;
  font-size: 0.7rem;
  margin-top: 4%;
}

.googlesok a:hover {
  background-color: #008000;
}

.googlesok p {
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

/* Footer */
footer address {
  font-size: 0.8em;
  color: azure;
}

footer a {
  font-size: 0.8em;
  color: azure;
  padding: 1rem;
  font-style: italic;
}

/* Mobilnav */
nav#ikon {
  display: none;
}

/* media queries */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 200px 40px 400px auto 400px 50px;
    grid-template-areas:"header"
                        "ikon"
                        "maincontent1"
                        "maincontent2"
                        "aside"
                        "footer";
  }
  nav#navbar {
    display: none;
  }

  nav#ikon {
    position: sticky;
    top: 0;
    display: block;
    color: black;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    z-index: 9998;
  }

  nav#ikon i {
    padding: 0.35rem;
    font-size: 2rem;
  }

  #mobilnav {
    position: relative;
    height: calc(65vh);
    left: 0;
    top: -4px;
    background-color: #333;
    color: white;
    width: 75%;
    font-size: 3rem;
    opacity: 1;
    margin: 0 auto;
    border: 5px solid orange;
    z-index: 9999;
  }

  #mobilnav a {
    margin-top: 1rem;
    color: white;
    text-decoration-line: none;
  }

  #mobilnav a:visited {
    color: purple;
  }

  body {
    background-color: white;
  }

  h2 {
    z-index: 0;
  }

  article p { font-size: 1.25rem;}

  article h4 { font-size: 2rem;}    

  article {
    border: 1px solid black;
    width: 100%;
  }

  .maincontent-container1 {
    flex-direction: column;
    background-color: #333;
  }

  .maincontent-container2 {
    flex-direction: column;
    background-color: #333;
    margin-bottom: 1rem;
  }

  .googlesok a {
    margin-top: 1rem;
  }

  .linker ul li a {
    margin-top: 0.75rem;
  }

  .lesmer {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  code#analysekode {
    font-size: 0.52rem;
  }

  footer {
    background-color: #333;
  }
}
