@import "normalize.css";
html {
  font-size: calc(0.8em + 0.5vw);
}

body * {
  box-sizing: border-box;
  margin: 0;
  display: block;
}

/* Setter bakgrunnsfargen på siden */
body {
  background-color: slategray;
}

/* Gi elementer fontstørrelse i forhold tilrotelementet med rem */
h1 {font-size: 3rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.2rem;}
p {font-size: 1rem;}

/* Containere for grid og flex bokser */

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:   "header header header"
                         "navbar navbar navbar"
                         "maincontent1 maincontent1 aside"
                         "maincontent2 maincontent2 aside"
                         "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 50px 500px 500px 60px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto auto auto;
    grid-template-areas:"header"
                        "navbar"
                        "maincontent1"
                        "maincontent2"
                        "aside"
                        "footer";
  }
  article {
    width: 100%;
  }
}

#navbar {
  grid-area: navbar;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.maincontent-container1 {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}

.maincontent-container2 {
  grid-area: maincontent2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}

aside {
  grid-area: aside;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

footer {
  align-items:center;
  justify-content: center;
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
}

header {
  text-align: center;
  background-image: url("../bilder/testbilde.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: header;
}

/* Individuelle elementer under */

#navbar a {
  display: inline;
  text-decoration: none;
  color: black;
  margin: auto;
}

#navbar a:hover {
  border-bottom: 3px solid orange;
}

#navbar a:active {
  position: relative;
  bottom: 4px;
}

/* Innholdet til artiklene på hovedsiden */

article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


/* Overskriften i artikkelboksene på hovedsiden */
article h4 {
  margin: auto;
  padding-top: 0.33rem;
  color: white;
  background-color: #333;
  padding: 1rem;
  opacity: 0.9;

}

/* Paragrafer inni artikkelboksene på hovedsiden */
article p {
  font-size: 0.75rem;
  margin: auto;
  color: white;
  background-color: #333;
  opacity: 0.9;
  padding: 1rem;
}

/* Bildene inne i artiklene på hovedsiden */
#artikkel1 {
  order: 1;
  background-image: url("../bilder/google.png");
  background-repeat: none;
  background-size: cover;
}

#artikkel2 {
  order: 2;
  background-image: url("../bilder/kodeliten.jpg");
  background-repeat: none;
  background-size: cover;
}

#artikkel3 {
  order: 1;
  background-image: url("../bilder/analyseliten.jpg");
  background-repeat: none;
  background-size: cover;
}
#artikkel4 {
  order: 2;
  background-image: url("../bilder/content.jpg");
  background-repeat: none;
  background-size: cover;
}

/* Les mer knappene på hovedsiden */

.lesmer {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 0.75rem;
  background-color: #333;
  color: white;
  margin: auto;
}

.lesmer:hover {
  background-color: #333;
  color: white;
}

.lesmer:active {
  position: relative;
  bottom: 3px;
}

/* Sidebaren */
iframe {
  flex: 1;
  order: 1;
}

ul {
  flex: 1;
  order: 2;
}

aside section a {
  margin: auto;
  flex: 1;
  order: 3;
}

/* Footer */
footer p {
  font-size: 0.8rem;
  color: azure
}
