@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lato');


html {
  font-size: calc(0.8em + 0.5vw);
}

body * {
  box-sizing: border-box;
  margin: 0;
  display: block;
}

/* Setter bakgrunnsfargen på siden */
body {
  background-color: #333;
}

/* Gi elementer fontstørrelse i forhold tilrotelementet med rem */
h1 {
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.8rem;}
h4 {
  font-size: 1.2rem;
  font-family: 'Fjalla One', sans-serif;
}
p {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

/* Containere for grid og flex bokser */

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:   "header header header"
                         "navbar navbar navbar"
                         "maincontent1 maincontent1 aside"
                         "maincontent2 maincontent2 none"
                         "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 50px 450px 450px 60px;
}


main {
  max-width: 100%;
}

header {
  text-align: center;
  background-image: url("../bilder/testbilde.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: header;
}

#navbar {
  grid-area: navbar;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

.maincontent-container1 {
  grid-area: maincontent1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

.maincontent-container2 {
  grid-area: maincontent2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

aside {
  grid-area: aside;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

footer {
  align-items:center;
  justify-content: center;
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
}

.artikkel1 {
  flex: 1;
  order: 1;
  border-right: 1px solid black;
  background-color: white;
}

.artikkel2 {
  flex: 1;
  order: 2;
  background-color: white;
}


/* Navigasjonsbaren */
#navbar a {
  display: inline;
  text-decoration: none;
  color: black;
  margin: auto;
  border: 3px solid white;
}

#navbar a:hover {
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
}

#navbar a:active {
  position: relative;
  bottom: 4px;
}

/* Innholdet til artiklene på hovedsiden */



/* Bildene inne i artiklene på hovedsiden */
.mainimg {
  width: 100%;
  object-fit: cover;
}

.bildelink {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 60%;
}

/* Overskriften i artikkelboksene på hovedsiden */
article h4 {
  margin: auto;
  text-align: center;
}

/* Paragrafer inni artikkelboksene på hovedsiden */
article p {
  font-size: 0.75rem;
  margin: 6% auto;
  text-align: center;
}

/* Les mer knappene på hovedsiden */

.lesmer {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.25rem;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
}

.lesmer:hover {
  background-color: #333;
  color: white;
}

.lesmer:active {
  background-color: orange;
  color: black;
}

/* Sidebaren */
iframe {
  width: 100%;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

aside section p {
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
}

aside section a {
  margin-top: 0.1rem;
  text-decoration-line: none;
  color: blue;
}

aside section ul li a:hover {
  text-decoration-line: underline;
}

aside section ul li a:visited {
  color: purple;
}

.googlesok a {
  text-decoration-line: none;
  border: 1px solid black;
  width: 50%;
  height: 1.5rem;
  padding: 0.3rem;
  margin: 0 auto;
  background-color: blue;
  color: white;
  font-size: 0.7rem;
  margin-top: 4%;
}

.googlesok a:hover {
  background-color: #008000;
}

.googlesok p {
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

/* Footer */
footer address {
  font-size: 0.8em;
  color: azure;
}

footer a {
  font-size: 0.8em;
  color: azure;
  padding: 1rem;
  font-style: italic;
}

/* Mobilnav */
nav#ikon {
  display: none;
}


/* media queries */
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 200px 40px repeat(2, auto) 400px 50px;
    grid-template-areas:"header"
                        "ikon"
                        "maincontent1"
                        "maincontent2"
                        "aside"
                        "footer";
  }
  nav#navbar {
    display: none;
  }

  nav#ikon {
    position: sticky;
    top: 0;
    display: block;
    color: black;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    text-align: center;
  }

  nav#ikon i {
    padding: 0.5rem;
    font-size: 2rem;
  }

  #mobilnav {
    position: relative;
    height: calc(65vh);
    left: 0;
    top: -4px;
    background-color: #333;
    color: white;
    width: 75%;
    font-size: 3rem;
    opacity: 1;
    margin: 0 auto;
    border: 5px solid orange;

  }

  #mobilnav a {
    margin-top: 1rem;
    color: white;
    text-decoration-line: none;
  }

  #mobilnav a:visited {
    color: purple;
  }

  article p { font-size: 1.25rem;}

  article h4 { font-size: 2rem;}

  article {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 25px;
  }

  .maincontent-container1 {
    flex-direction: column;
    background-color: #333;
  }
  .maincontent-container2 {
    flex-direction: column;
    background-color: #333;
  }
  .googlesok a {
    margin-top: 1rem;
  }
  .linker ul li a {
    margin-top: 0.75rem;
  }

  .lesmer {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }


}
